body {
  min-height: 100%;
  background-image: url('../image/background.jpg');
  background-repeat: repeat-x;
  background-size: cover;
}
h1.head
{
  border-style:solid;
  font-size:30px;
}

p.footer
{
  border-style:solid;
  color: black;
  font-size: 24px;
  background-color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "edukai-3", "正規","教育部標準楷書";/* Not sure the font name */
}
